<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.company.hello">

    <!---
    하나의 어플리케이션을 의미
    - 어플리케이션이 갖고 있는 아이콘, 레이블 등이 속성으로 선언이 되어있음
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--- 하나의 Activity 클래스를 포함시킴 -->
        <activity android:name=".MainActivity">
            <!---
                어떤 인텐트를 허용할 것인지 기술
                인텐트 : ACTIVITY와 ACTIVITY를 연결해주는 메커니즘
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>